{% extends 'login_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block image %}
    <div class="login100-pic js-tilt" data-tilt>
        <img src="{% static 'login/images/img-01.png' %}" alt="IMG">
    </div>
{% endblock image %}

{% block content %}

    <form method="POST">
                {% csrf_token %}
                    <fieldset class="from-group">
                        <legend class="border-bottom md-4">Join Today</legend>
                            {{ form|crispy}}
                    </fieldset>

                <div class="from-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                    <small class="class-muted ">
                       <a class="ml-2" href="{% url 'password_reset' %}">Forgot Password?</a>
                    </small>

                </div>
                <div class="border-top pt-3">
                    <small class="class-muted">
                        Need a account?<a class="ml-2" href="{% url 'register' %}">Sign UP</a>
                    </small>
                </div>

        </form>

{% endblock content %}